/* Welcome to simple.css. Simple.css is a css framework
designed to be simple to use and edit. */

/* Designed by Colin Pokowitz (cpdev) */
/* Written in 2017 */
/* Copyrighted under the MIT Licence */

/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Univeral Fonts and Stuff */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Buttons */
button.button {
  padding: 12px 18px;
  background-color: white;
  border-style: solid;
  border-color: black;
  font-size: 15px;
  border-radius: 0.5rem;
  color: black;
}
button.button:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: black;
  color: white;
}
button.button.info {
  color: #007bff;
  border-color: #007bff;
}
button.button.info:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: #007bff;
  color: white;
}
button.button.success {
  color: #28a745;
  border-color: #28a745;
}
button.button.success:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: #28a745;
  color: white;
}
button.button.warning {
  color: #ffc107;
  border-color: #ffc107;
}
button.button.warning:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: #ffc107;
  color: white;
}
button.button.danger {
  color: #dc3545;
  border-color: #dc3545;
}
button.button.danger:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: #dc3545;
  color: white;
}

/* Button Sizes */
button.button.mini {
  padding: 2px 5px;
}
button.button.small {
  padding: 6px 9px;
}
button.button.large {
  padding: 24px 36px;
}

/* Jumbotron */
div.jumbotron {
  background-color: #b3b7ba;
  /*width: 100%;*/
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
div.jumbotron > h1 {
  font-size: 50px;
  text-align: center;
}
div.jumbotron > p {
  text-align: center;
  font-size: 25px;
}
.headerCentered {
  text-align: center;
}

/* Lists */
ul.dotList {
  list-style-type: disc;
}

/* Alerts */
div.alert {
  width: 100%;
  text-align: left;
  border-radius: 0.1em;
  padding: 1px 1px 1px 1px;
}
div.alert.info {
  background-color: #007bff;
  color: white;
}
div.alert > p > span {
  font-weight: bold;
  font-size: 20px;
}
