@import '../_variables.scss';
@import '../_animations.scss'; 

div.alert {
  position: relative;
  min-height: 50px;
  border-radius: 0.5em;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  word-break: break-word;

  &.info {
    background-color: $info;
  }

  &.success {
    background-color: $success;
  }

  &.warning {
    background-color: $warning;
  }

  &.error {
    background-color: $error;
  }
}

span.close {
  position: absolute;
  top: 3px;
  right: 9px;
  float: right;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color:$black;
  }
}
