@import '../_variables.scss';

div.alert {
  min-height: 50px;
  border-radius: 0.5em;
  padding: 15px;
  margin-bottom: 20px;
  color: white;

  &.info {
    background-color: $info;
  }

  &.success {
    background-color: $success;
  }

  &.warning {
    background-color: $warning;
  }

  &.error {
    background-color: $error;
  }
}


span.close {
  float: right;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color:$black;
  }
}
