@import '../_variables.scss';

button.button {
  cursor: pointer;
  padding: 12px 18px;
  background-color: $white;
  border-style: solid;
  border-color: $black;
  font-size: 15px;
  border-radius: 0.5rem;
  color: $black;

  &:hover {
    transition: background-color 0.1s, color 0.1s;
    background-color: $black;
    color: $white;
  }

  &.info {
    color: $info;
    border-color: $info;

    &:hover {
      background-color: $info;
      color: $white;
    }
  }

  &.success {
    color: $success;
    border-color: $success;

    &:hover {
      background-color: $success;
      color: $white;
    }
  }

  &.warning {
    color: $warning;
    border-color: $warning;

    &:hover {
      background-color: $warning;
      color: $white;
    }
  }

  &.danger {
    color: $error;
    border-color: $error;

    &:hover {
      background-color: $error;
      color: $white;
    }
  }

  &.shadow {
    box-shadow: 3px 3px $medium-gray;

    &:hover{
      box-shadow: 0 0;
    }
  }

  &.mini {
    padding: 2px 5px;
  }

  &.small {
    padding: 6px 9px;
  }

  &.large {
    padding: 24px 36px;
  }
}

button.button.btn-filled
{
  background-color: $black;
  color: $white;

  &:hover {
    transition: background-color 0.1s, border-color 0.1s;
    background-color: $dark-gray;
    border-color: $dark-gray;
  }

  &.info {
    background-color: $info;
    border-color: $info;

    &:hover {
      background-color: $info-dark;
      border-color: $info-dark;
    }
  }

  &.success {
    background-color: $success;
    border-color: $success;

    &:hover {
      background-color: $success-dark;
      border-color: $success-dark;
    }
  }

  &.warning {
    background-color: $warning;
    border-color: $warning;

    &:hover {
      background-color: $warning-dark;
      border-color: $warning-dark;
    }
  }

  &.danger {
    background-color: $error;
    border-color: $error;

    &:hover {
      background-color: $danger-dark;
      border-color: $danger-dark;
    }
  }

  &.shadow
  {
    box-shadow: 3px 3px $light-gray;

    &:hover{
      box-shadow: 0 0;
    }
  }  
}