button.button {
  cursor: pointer;
  padding: 12px 18px;
  background-color: white;
  border-style: solid;
  border-color: black;
  font-size: 15px;
  border-radius: 0.5rem;
  color: black;

  &:hover {
    transition: background-color 0.1s, color 0.1s;
    background-color: black;
    color: white;
  }

  &.info {
    color: #007bff;
    border-color: #007bff;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }

  &.success {
    color: #28a745;
    border-color: #28a745;

    &:hover {
      background-color: #28a745;
      color: white;
    }
  }

  &.warning {
    color: #ffc107;
    border-color: #ffc107;

    &:hover {
      background-color: #ffc107;
      color: white;
    }
  }

  &.danger {
    color: #dc3545;
    border-color: #dc3545;

    &:hover {
      background-color: #dc3545;
      color: white;
    }
  }

  &.shadow {
    box-shadow: 3px 3px #888888;

    &:hover{
      box-shadow: 0 0;
    }
  }

  &.mini {
    padding: 2px 5px;
  }

  &.small {
    padding: 6px 9px;
  }

  &.large {
    padding: 24px 36px;
  }
}
