.code {
    background-color: $light-gray;
    color: $black;
    display: inline-block;
    font-family: monospace;
    padding: 12px 18px;
    padding-top: 40px;
}

.code #language {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background: $info;
}
