div.jumbotron {
  background-color: #b3b7ba;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;

  > h1 {
    font-size: 50px;
    text-align: center;
  }

  > p {
    text-align: center;
    font-size: 25px;
  }
}
