// Global variable declaration

$white: #ffffff;
$black: #000000;
$dark-gray: #323232;
$medium-gray: #888888;
$light-gray: #bbbbbb;

$info: #007bff;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;

$info-dark: #0062cc;
$success-dark: #208537;
$warning-dark: #cc9a05;
$danger-dark: #b02a37;
