// Global variable declaration

$white: #ffffff;
$black: #000000;
$dark-gray: #323232;
$medium-gray: #888888;
$light-gray: #bbbbbb;

$info: #007bff;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;

$info-dark: #0062cc;
$success-dark: #208537;
$warning-dark: #cc9a05;
$danger-dark: #b02a37;

$column-padding: 20px;
$one-width: calc(8.333% - #{$column-padding});
$two-width: calc(16.667% - #{$column-padding});
$three-width: calc(25% - #{$column-padding});
$four-width: calc(33.333% - #{$column-padding});
$five-width: calc(41.667% - #{$column-padding});
$six-width: calc(50% - #{$column-padding});
$seven-width: calc(58.333% - #{$column-padding});
$eight-width: calc(66.667% - #{$column-padding});
$nine-width: calc(75% - #{$column-padding});
$ten-width: calc(83.333% - #{$column-padding});
$eleven-width: calc(91.667% - #{$column-padding});
$twelve-width: calc(100% - #{$column-padding});
